@model Etercih_12B_539.Models.Etercih

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Etercih</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KullaniciId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KullaniciId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecenekId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecenekId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zaman)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zaman)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aciklama)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EtercihId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
